@import url('../fonts/fontawesome/font-awesome.min.css');
@import url('../fonts/nunito/nunito.css');
@import url('../bootstrap/css/bootstrap.min.css');

:root {
    --primary: #00345b;
    --secondary: #008798;
}

body {
    margin: 0;
    padding: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
}

html,
body {
    height: 100%;
}