img {
    max-width: 100%;
}

.ed-control-image img {
    vertical-align: middle;
    border-radius: 10px;
}

img.productStatusImg {
    margin: auto;
    padding: 5px 0;
}

.image_container {
    text-align: center;
}

.image_description {
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-size: 1rem;
}

.image_description::before {
    content: "- ";
}

.image_description::after {
    content: " -";
}

.image_wrapper {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.navbar-img .image_container {
    height: 60px;
}

.navbar-img .image_wrapper {
    padding-top: 20%;
}

.ed-cover-img {
    font-size: 0 !important;
}