* {
    outline: none !important;
}

:host {
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0 0.5rem;
}

thead {
    background: rgb(94, 127, 225);
    background: linear-gradient(184deg, rgba(94, 127, 225, 1) 0%, rgba(53, 79, 152, 1) 100%);
    color: #fff;
    font-weight: bold;
}

tbody {
    background-color: #eceff1;
    color: #565656;
}

tfoot {
    background-color: #eceff1;
    color: #565656;
    font-weight: bold;
    font-style: italic;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #cccccc;
}

td {
    font-size: 90%;
}