psk-container.pdfViewer .content {
    height: calc(100vh - 4rem);
}

.header-row {
    display: flex;
}


.ed-avatar-bordered-image {
    background-color: white;
}

.ed-avatar-bordered-image #ed-profile-image {
    border-radius: 90px;
    width: 124px;
    height: 124px;
    position: relative;
    left: 5px;
    top: 5px;
}

.ed-avatar-bordered-image #ed-profile-border {
    border: 5px solid white;
    background-image: url(assets/images/cat.jpg);
    background-repeat: round;
    width: 180px;
    height: 180px;
    border-radius: 90px;
}