:host {
    align-self: center;
}

.productItem_echo_manufName {
    background: antiquewhite;
}

:host(.horizontal-aligned) {
    display: grid;
}

.small-text {
    font-size: 12px !important;
    font-weight: bold !important;
}

:host(.horizontal-aligned) .small-text {
    font-size: 8px;
}

.horizontal-aligned .small-text {
    font-size: 8px;
}

.row {
    display: flex;
}

:host(.home-default) {
    width: 100%;
    height: 100%;
}

:host(.home-default-bottom) {
    width: 100%;
    height: 100%;
    background-color: #86cfda;
}


:host(.home-image) {
    width: 100px;
    position:absolute;
    left:50%;
    margin-left:-50px;
    height: 100px;
    top:25%;
    background-color: #1c7430;
}