@import url(/themes/blue-fluorite-theme/components/psk-code/psk-code.css);

div.live-editor-container{
    width:100%;
}

div.prism-live {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-flow: column;
    max-width: 100%;
    max-height: 100%;
}

.asset-modal[expanded='true'] div.prism-live {
    max-height: 60vh;
}

textarea.prism-live {
    margin-left: 10px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    width: -webkit-fill-available;
    z-index: 1000;
    color: transparent;
    cursor: text;
    white-space: pre;
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
    resize: none;
    --selection-background: hsl(320, 80%, 25%);
    --selection-color: hsla(0, 0%, 100%, .8);
}

code[class*="language"] {
    display: block;
    overflow: initial;
    height: 100%;
    width: 100%;
}

@supports (not (caret-color: black)) and (-webkit-text-fill-color: black) {
    textarea.prism-live {
        color: inherit;
        -webkit-text-fill-color: transparent;
    }
}


/* Setting specific colors is needed
 * because otherwise Firefox shows blank text */

textarea.prism-live::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

textarea.prism-live::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

pre.prism-live {
    flex: 1;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    max-height: 100%;
    background-color: #fdfdfd;
}

pre[class*="language-"]>code {
    background-image: none;
    box-shadow: none;
}

pre.prism-live>code:empty::before {
    content: " "
}
