#actions {
    display: flex;
    justify-content: start;
}

.container {
    max-width: 100%!important;
}

.scan-error-form {
    color: #00345B;
}

.scan-error-form .container{
    padding: 10px 20px;
}

.scan-error-message-label {
    margin: 40px 0;
}