@import url('fonts/fontawesome/font-awesome.min.css');
@import url('fonts/nunito/nunito.css');

@import url('bootstrap/css/bootstrap.min.css');

@import url("sections/main.css");
@import url("sections/container.css");
@import url("sections/footer.css");
@import url("sections/form.css");
@import url("sections/ediary.css");
@import url("sections/questionnaire.css");

@import url("components/button.css");
@import url("components/chart.css");
@import url("components/icon.css");
@import url("components/image.css");
@import url("components/label.css");
@import url("components/table.css");

:root {
    --primary: #00345b;
    --secondary: #008798;
}