<webc-container controller="components/PharmaHeaderController">
    <header class="d-flex flex-row align-content-center justify-content-between">
        <img alt="PharmaLedger logo" src="assets/images/pharmaledger-logo.jpg" width="120"/>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <button class="button-menu button-transparent" data-tag="header:help">Help</button>
            <button class="button-menu" data-tag="header:logout">Logout</button>
        </div>
    </header>
</webc-container>