:host {
    scrollbar-color: #E5E5E5 #354f9b;
    scrollbar-width: thin;
}

:host::-webkit-scrollbar {
    background-color: #E5E5E5;
    width: 0.5rem;
}

:host::-webkit-scrollbar-track {
    background-color: #354f9b;
}

:host::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border-radius: 0.5rem;
    border: 0.125rem solid #354f9b;
}

:host button {
    font-weight: 500;
    color: #354f9b;
}

:host button[disabled] {
    font-weight: bold;
}

@media (max-width: 769px) {
     :host {
        padding: 0.5rem;
    }
}