.btn.btn-primary,
.submit {
    background-color: #4C71DE;
    box-shadow: rgba(53, 79, 155, 0.35) 0px 15px 30px -12px;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid #4C71DE;
    color: white;
}

.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.submit {
    background-color: #354F9B;
    border-style: none;
}

.btn.btn-primary:hover,
.submit:hover {
    background-color: #5E7FE1;
    border-style: none;
    box-shadow: none;
}

.submit {
    margin-left: -15px;
}

.reset-form {
    background-color: white;
    border: 1px solid #4C71DE;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: #4C71DE;
    padding: 8px 16px;
}


/* first page */

.big-button .btn.btn-primary {
    background-color: transparent;
    color: #354F9B;
    font-weight: 700;
    font-size: 1.3125rem;
    width: 14rem;
    border-radius: 0;
    border-style: none;
    line-height: 3rem;
    padding: 0;
}

.big-button .btn.btn-primary:hover {
    background-color: #5E7FE1;
    border-style: none;
    color: #fff;
    font-weight: 600;
    box-shadow: rgb(76, 100, 100) 5px 0 20px -3px;
}

@media (max-width: 960px) {
    .big-button .btn.btn-primary {
        font-size: 1rem;
        padding: 5px;
    }
}

psk-mobile [slot='footer'] .btn {
    display: grid;
    padding: 0.75rem 1rem;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

psk-mobile [slot='footer'] .btn .icon {
    padding: 0;
    margin: 0;
}

psk-mobile [slot='footer'] .btn .icon,
psk-mobile [slot='footer'] .btn span {
    color: #FFFFFF;
}

psk-button.fullWidth button {
    width: 100%;
}

.epi-button .btn.btn-primary:focus,
.epi-button .btn.btn-primary:not(:disabled):not(.disabled):active,
.epi-button .submit,
.epi-button .btn.btn-primary {
    background: #00345b;
}

.epi-button .btn.btn-primary {
    width: 120px;
}

.ed-button {
    text-align: center;

}

.ed-button button {
    background-color: #008798 !important;
    border: #008798 !important;
    border-radius: 20px !important;
    height: 45px;
    font-weight: bold;
}

.log-out-button {
    padding-top: 10%;
    position: absolute;
    bottom: 2%;
    width: 100%;
}

.log-out-button button {
    width: 80%;
}

.half-screen-button,
.half-screen-button button {
    width: 40% !important;
}

.half-screen-button {
    position: static !important;
    padding-top: 10%;
    bottom: 2%;
    width: 100%;
}

.invisible-button {
    font-size: 0 !important;
}

.invisible-button button,
.invisible-button button:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.black-blue-text button {
    color: #00345B !important;
}

.half-button {

}

.half-button button {
    width: 130px !important;
    margin: 0 !important;
    height: 35px !important;
}

.left-half button {
    box-shadow: 33px 0 0 0 #D0D0D0 !important;
    border-radius: 20px !important;
}

.right-half button {
    box-shadow: -33px 0 0 0 #D0D0D0 !important;
    border-radius: 20px !important;
}

.left-half.ed-faded button {
    border-radius: 20px 0 0 20px !important;
}

.right-half.ed-faded button {
    border-radius: 0 20px 20px 0 !important;
}

.ed-faded button {
    box-shadow: none !important;
    background-color: #D0D0D0 !important;
}