<psk-tab-navigator class="margin-sides question-navigator" data-for="@questions"
                   selected="@questionnairesTabNavigator.selected" tab-navigation-disabled>
    <psk-tab title="">
        <div class="question-details">
            <psk-label class="ed-question-title">{{@title}}</psk-label>
        </div>
        <webc-template template="@template" data-view-model="@"></webc-template>
    </psk-tab>
</psk-tab-navigator>
<div class="button-bottom-row">
    <div class="width-100 align-center" data-if="@buttonsState.showLeft">
        <button class="ed-btn always-left" data-tag="prev">Back</button>
    </div>
    <div class="width-100 align-center" data-if="@buttonsState.showRight">
        <button class="ed-btn always-right" data-tag="next">Next</button>
    </div>
</div>
<div class="width-100 align-center" data-if="@buttonsState.showFeedback">
    <button class="ed-btn ed-big-button always-center" data-tag="send-feedback">Send Feedback</button>
</div>