.container-background-primary {
    background-color: #00345B;;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pharma-main-container {
    background-color: white;
    border-radius: 1%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pharma-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


#chart_div{
    display: inline-block;
    margin: 0 auto;
}

#piechart{
    display: inline-block;
    margin: 0 auto;
}
