.ediary-trial-list {
    padding: 0 5px;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    width: 410px;
    display: grid;
}

.ed-control-line-left {
    margin: 0 20px;
    padding: 0 !important;
}

.word-wrap-label {
    width: 270px;
    word-break: break-word;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}