.eu-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 0;
}

.left-image-eu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-text-eu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    row-gap: 0.5rem;
    width: 80%;
    font-size: 18px;
}