main .row-wrapper:nth-child(odd) {
    background-color: rgba(0, 135, 152, 0.19);
}

main .row-wrapper:nth-child(even) {
    background-color: rgba(0, 52, 91, 0.3);
}

.row-wrapper {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: minmax(40%, auto) repeat(auto-fit, minmax(120px, 1fr));
    text-align: center;
    margin: 0.25rem 0;
    padding: 0 0.75rem;
}

.grid-equal {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}