.ed-btn {
    background-color: var(--secondary) !important;
    border: var(--secondary) !important;
    border-radius: 20px !important;
    height: 45px;
    font-weight: bold;
    box-shadow: rgba(53, 79, 155, 0.35) 0px 15px 30px -12px;
    padding: 8px 16px;
    margin-right: 10px;
    color: white;
    margin-bottom: 1rem;
    font-size: 16px;
    width: 100px;
}

.ed-big-button {
    width: 200px;
}

.button-bottom-row {
    display: flex;
}

.align-center {
    text-align: center;
}

.answers {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.answers .answer {
    display: grid;
}

.answers label {
    padding-top: 5px;
}

.question-details {
    text-align: center;
}

.margin-sides {
    margin: 0 10px !important;
}

.ed-question-title label,
.ed-question-subtitle label {
    text-align: center !important;
}

.max-width {
    width: 100%;
}

.max-width input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--secondary);
}

.max-width input:focus {
    border-width: 0 0 2px;
}

