/* FROM psk-button - TODO: refactor this during webcardinal migration refactor */

.btn.btn-primary,
.submit {
    background-color: var(--secondary);
    box-shadow: rgba(53, 79, 155, 0.35) 0 15px 30px -12px;
    padding: 4px 16px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid var(--secondary);
    color: white;
    font-size: 0.95rem;
}

.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.submit {
    border: none !important;
}

.btn.btn-primary:hover,
.submit:hover {
    background-color: rgba(0, 136, 152, 0.8);
}

.btn.btn-primary:active,
.submit:active {
    background-color: rgba(0, 136, 152, 0.8) !important;
}

.btn.btn-primary:disabled,
.submit:disabled {
    background-color: rgba(0, 136, 152, 0.8) !important;
}

/* END - TODO: Refactor */

/* New button style added */

.button-menu {
    color: #FFFFFF;
    padding: 0.125rem 1.75rem;
    background: var(--secondary);
    border-radius: 0.25rem;
    border: 1px solid transparent;
    font-size: 18px;
}

.button-transparent {
    color: #000000;
    background: transparent;
}

.button-menu:hover,
.button-menu:focus,
.button-menu:active {
    color: #000000;
    background: transparent;
    border-color: var(--secondary);
}

.button-group-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    padding: 0 5%;
    width: 100%;
    column-gap: 1rem;
}

.button-group-wrapper button {
    background: var(--secondary);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    min-height: 4rem;
    width: 9rem;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 1rem;
    transition: all ease-in 0.1s;
}

.button-group-wrapper button:hover,
.button-group-wrapper button:active,
.button-group-wrapper button:focus {
    background: transparent;
    border: 1px solid var(--secondary);
    color: #000000;
}