label.option,
main .row-wrapper label {
    padding: 0 0.5rem 0 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-right: 1px solid;
}

label.option:last-child {
    border: none;
}

.middle-text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

h4.title {
    font-size: 3rem;
    padding: 1rem 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    color: var(--secondary);
    width: 100%;
}

h5.title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 0.25rem;
    border-top: 1px solid var(--primary);
    color: var(--secondary);
}

.no-data {
    color: var(--secondary);
    font-size: 1.25rem;
    font-style: italic;
    padding: 2rem 1rem 1rem;
    text-align: center;
    width: 100%;
}

.link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(47, 128, 237, 1);
}

.link:focus,
.link:hover,
.link:active {
    cursor: pointer;
    text-decoration: underline;
}

main .row-wrapper label {
    border: none;
}

main .row-wrapper label:first-child {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

main .row-wrapper.grid-equal label:first-child {
    text-align: center;
    max-width: 100%;
}

/* FROM psk-label - refactor this during webcardinal migration refactor */

.align-left {
    text-align: left;
}

.full-width {
    width: 100%;
}

psk-files-chooser.btn-menu .btn.btn-secondary label,
psk-label {
    padding: 0.25rem calc(0.175rem + 1px);
}

psk-label,
label {
    max-width: 100%;
    /* margin: 0; */
    /* vertical-align: middle; */
    /* display: flex; */
}

.item-wrapper psk-label,
.item-wrapper label {
    max-width: 80%;
}

.item-wrapper psk-label.marketplace-app-description {
    max-width: 95%;
    font-size: 18px;
}

.selected .info-wrapper label.col-form-label {
    color: #8197bc;
}

psk-button psk-label,
psk-button label {
    cursor: pointer;
    text-decoration: none;
}

.col-form-label {
    padding: 0 !important;
}

psk-label.info,
psk-label.error,
psk-label.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

psk-label.info label {
    font-style: italic;
    color: #572a57;
    word-wrap: break-word;
}

psk-label.error label {
    font-style: italic;
    color: #ff0000;
    word-wrap: break-word;
}

psk-label.warning label {
    font-style: italic;
    color: #ffbb00;
    word-wrap: break-word;
}

psk-label.success.small label {
    display: inline-block;
    padding: .25em .4em;
    color: #28a745;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.marketplace-app-name {
    font-weight: bold;
    font-size: 24px;
}

.marketplace-app-description {
    font-size: 10px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
}

.bpd-organization-card-label,
.bpd-create-organization-label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.bpd-modal-title {
    color: black !important;
    font-size: 22px;
    font-weight: bold;
}

.bpd-input psk-label {
    font-size: 20px;
}